<a href="https://colab.research.google.com/github/Gabriel-muni/Bosquejo/blob/main/AluraStoreLatam_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [1]:
import pandas as pd

In [4]:
tiendaA = pd.read_csv("/content/tienda_1 .csv")

In [11]:
tiendaA.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [12]:
tiendaA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [13]:
tiendaA["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [14]:
sorted(tiendaA["Categoría del Producto"].unique())

['Artículos para el hogar',
 'Deportes y diversión',
 'Electrodomésticos',
 'Electrónicos',
 'Instrumentos musicales',
 'Juguetes',
 'Libros',
 'Muebles']

In [ ]:
tiendaB["Categoría del Producto"].unique()

In [15]:
tiendaA["Categoría del Producto"].unique()

array(['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos',
       'Artículos para el hogar', 'Deportes y diversión', 'Libros',
       'Instrumentos musicales'], dtype=object)

In [ ]:
tiendaA.Precio.min()

In [ ]:
tiendaA.Precio.max()

In [ ]:
tiendaB.info()

In [ ]:
tiendaC.info()

In [ ]:
tiendaD.info()

In [6]:
tiendaB = pd.read_csv("/content/tienda_2.csv")

In [ ]:
tiendaB.head()

In [7]:
tiendaC = pd.read_csv("/content/tienda_3.csv")

In [ ]:
tiendaC.head()

In [8]:
tiendaD = pd.read_csv("/content/tienda_4.csv")

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

In [ ]:
tiendaA.Calificación.max()

#1. Análisis de facturación

In [16]:
ingreso_total_tiendaA = sum(tiendaA["Precio"])
ingreso_total_tiendaA

1150880400.0

In [17]:
ingreso_total_tiendaB = sum(tiendaB["Precio"])
ingreso_total_tiendaB

1116343500.0

In [18]:
ingreso_total_tiendaC = sum(tiendaC["Precio"])
ingreso_total_tiendaC

1098019600.0

In [19]:
ingreso_total_tiendaD= sum(tiendaD["Precio"])
ingreso_total_tiendaD

1038375700.0

# 2. Ventas por categoría

In [20]:
tiendaA["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [21]:
tiendaB["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [22]:
tiendaC["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [23]:
tiendaD["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [ ]:
calificacion_tiendaA = (sum(tiendaA["Calificación"])) / len(tiendaA["Calificación"])
calificacion_tiendaA

In [ ]:
calificacion_tiendaB = (sum(tiendaB["Calificación"])) / len(tiendaB["Calificación"])
calificacion_tiendaB

In [ ]:
calificacion_tiendaC = (sum(tiendaC["Calificación"])) / len(tiendaC["Calificación"])
calificacion_tiendaC

In [ ]:
calificacion_tiendaD = (sum(tiendaD["Calificación"])) / len(tiendaD["Calificación"])
calificacion_tiendaD

# 4. Productos más y menos vendidos

In [ ]:
tiendaA["Producto"].unique()

In [ ]:
tiendaA["Producto"].value_counts()

# 5. Envío promedio por tienda

In [ ]:
Promed_costo_de_envió_tiendaA = (sum(tiendaA["Costo de envío"])) / len(tiendaA["Costo de envío"])
Promed_costo_de_envió_tiendaA

26018.60958033065

In [ ]:
Promed_costo_de_envió_tiendaB = (sum(tiendaB["Costo de envío"])) / len(tiendaB["Costo de envío"])
Promed_costo_de_envió_tiendaB

25216.235693090293

In [ ]:
Promed_costo_de_envió_tiendaC = (sum(tiendaC["Costo de envío"])) / len(tiendaC["Costo de envío"])
Promed_costo_de_envió_tiendaC

24805.680373039424

In [ ]:
Promed_costo_de_envió_tiendaD = (sum(tiendaD["Costo de envío"])) / len(tiendaD["Costo de envío"])
Promed_costo_de_envió_tiendaD

23459.457167090754